/* Reset default browser styles */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Set defaults for links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-image: url('back2.jpg'); /* Retain the existing background image */
  background-size: cover;
}

/* Header styles */
header {
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px); /* Apply blur effect */
}

.connectme {
  margin: 0;
  font-size: 28px;
  color: #fff; /* Text color for header */
}

.navigation {
  margin-top: 10px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 18px;
}

.navigation a:hover {
  color: #ffd700;
}

/* About section styles */
#about-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  backdrop-filter: blur(80px);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about{
  color: white;
}

p{
  color:white;
}

#about-section h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

#about-section h3 {
  color: #333;
  text-align: justify;
  line-height: 1.6;
  font-size: 18px;
}
