* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: url("back3.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  backdrop-filter: blur(5px);
}

.connectme {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  color: #0a0101;
  user-select: none;
}

#about-section {
  position: relative;
  font-size: 1.1em;
  color: #0e0000;
  text-align: center; /* Center text horizontally */
  backdrop-filter: blur(80px);
}

#about-section h2 {
  padding-top: 50%;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #0a0000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.navigation a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}
